/* below is the css code for the first heading */
h1 {
    color: 	#585656;
    text-align: center;
    font-size: 90px;
    font-style: initial;
    font-weight: bold;
    margin-bottom: 50px;
    transition: all 0.5s ease 0s;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
}
/* below is animation code for heading */
@keyframes animate {
    0% 
    {
        color: 		#b3807b;
        text-shadow: none;
    }
    100% 
    {
        color: #b3807b	;
        text-shadow: 0 0 10px #b3807b	, 
        0 0 20px 		#b3807b,
        0 0 40px 	#b3807b	,
        0 0 80px 		#b3807b,
        0 0 160px 		#b3807b,
        0 0 230px #ff0080,
        0 0 300px #ff0080,
        0 0 350px #ff0080;
    }
}
/* below is styling code for paragraphs */
p {
    text-align: center;
    color: 	#faf6f2;
}
/* below is code for nav bar */
nav {
    
    text-align: center;
    margin-bottom: 50px;
    box-sizing: border-box;
    margin: 50px;
    padding: 50px;
    background-color: 	#585656;
}
a {
    font-family: initial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: 	#faf6f2;
    text-decoration: none;
    padding: 0px 95px;
}
nav a {
    transition: all 0.3s ease 0s;
}
nav a:hover {
    color: #b3807b;
}
/* below is css code for centering the nav bar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* below is code for setting background colour */
body {
    background-color:	#444949;
}
/* below is code for aligning the text to the center */
body {
    text-align: center;

}
/* below is css code for the first heading */
   h1 {
       text-align: center;
        
   }
   /* below is code for second heading */
   h2 {
       text-align: center;
       color: #b3807b;
   }
   /* below is background colour */
   body {
       background-color: #444949;
   }
   /* below is css code for the navigation bar */
   div {
       color: #b3807b;
       font-size: 25px;
   }
   @media only screen and (max-width:414px) {
    p {
        font-size: 18px;
    }
    body {
        background-color: #444949;
    }
    header {
        float: none;
        width: 100%;
    }
    div {
        float: none;
        width: 100%;
    }
    nav {
        padding: 0px;
    }
    h1 {
        font-size: 50px;
    }
    
    div video {
        height: 300px;
        width: 300px;
    }
    
}  
@media only screen and (min-width:768px) {
    p {
        font-size: 19px;
    }
    body {
        background-color: #444949;
    }
    header {
        float: none;
        width: 100%;
    }
    div {
        float: none;
        width: 100%;
    }
    div video {
        height: 600px;
        width: 600px;
    }
    
}  
@media only screen and (min-width:1140px) {
    p {
        font-size: 20px;
    }
    body {
        background-color: #444949;
    }
}  