
/* below is the css code for the the header including things like the colour and animation */h1 {
    color: 	#585656;
    text-align: center;
    font-size: 563%;
    font-style: initial;
    font-weight: bold;
    margin-bottom: 50px;
    transition: all 0.5s ease 0s;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
}
@keyframes animate {
    0% 
    {
        color: 		#b3807b;
        text-shadow: none;
    }
    100% 
    {
        color: #b3807b	;
        text-shadow: 0 0 10px #b3807b	, 
        0 0 20px 		#b3807b,
        0 0 40px 	#b3807b	,
        0 0 80px 		#b3807b,
        0 0 160px 		#b3807b,
        0 0 230px #ff0080,
        0 0 300px #ff0080,
        0 0 350px #ff0080;
    }
}
h2 { /* below is the styling code for the second heading */
    text-align: center;
    color: #b3807b;
    transition: all 0.5s ease 0s;
}
h2:hover { /* below is more styling code for the second heading */
    color: #b3807b;
}
p { /* below is the styling code for the paragraphs */
    text-align: center;
    color: 	#faf6f2;
}
.topbar { /* this code help bring the topbar/nav bar to the center */
    width: 100%;
}
nav { /* below is the styling code for the navigation bar */
    
    text-align: center;
    margin-bottom: 50px;
    box-sizing: border-box;
    margin: 50px;
    padding: 50px;
    background-color: 	#585656;
}
a { /* more styling for the fonts inside the navigation bar */
    font-family: initial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: 	#faf6f2;
    text-decoration: none;
    padding: 0vw 3vw;
}
nav a { /* below is the styling for the transition when the cursor hovers over the buttons on the nav bar */
    transition: all 0.3s ease 0s;
}
nav a:hover { /* below is the styling code for the hover effect */
    color: #b3807b;
}
header { /* below is the styling code for the positioning of the nav bar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100vw;
}
body { /* below is the styling code for the background coloir of the webpage */
    background-color:	#444949;
}
li { /* below is the styling code for the borders of the nav bar */
    list-style: none;
    margin: 10px 30px;
    display: inline-block;
    font-size: 20px;
    padding: 20px 20px;

}
body { /* below is code dedicated to making the entire html body tag to be centered */
    text-align: center;
}
/* below is the styling code for when a user uses the website on other devices */
@media only screen and (max-width:414px) {
    p {
        font-size: 13px;
    }
    body {
        background-color: #444949;
    }
    header {
        float: none;
        width: 100%;
        
    }
    div {
        float: none;
        width: 100%;
    }
    
    h1 { /* below is the styling code for the first heading */
        font-size: 50px;
    }
}  
@media only screen and (min-width:768px) {
    p {
        font-size: 22px;
    }
    body {
        background-color: #444949;
    }
    header {
        float: none;
        width: 100%;
    }
    div {
        float: none;
        width: 100%;
    }
}  
@media only screen and (min-width:1140px) {
    p {
        font-size: 20px;
    }
    body {
        background-color: #444949;
    }
}  